.page-template-about-page {
	
	.alternating-rows {
		
		.single-row {
			margin-top: 2.5em;
			margin-bottom: 2.5em;
			
			@include breakpoint (medium) {
				margin-top: 7.5em;
				margin-bottom: 7.5em;				
			}
			
			h2 {
				color: $primary-color;
				margin-bottom: 0.7em;
			}
			
			.copy-wrap {
				font-size: rem-calc(22);
				letter-spacing: 0;
				line-height: 1;
				padding-bottom: 2.2em;	
			}

		&.layout-image-left {
			
			h2 {
				position: relative;
				
				@include breakpoint (medium) {
					left: -9.3rem;
				}
				
			}
			
		}
			
		&.layout-image-right {
			flex-direction: row-reverse;
							
			.bottom {
				
				@include breakpoint (large) {
					padding-left: 9.3rem;				
				}
			}
			
		}
			
		}
		
	}
	
}