footer.footer {
	margin: 0;
	border-top: $border;
	padding-top: 2.85em;
	
	img.footer-logo {
		max-width: 74px;
		
		@include breakpoint(medium) {
			max-width: 87px;
		}
		
	}
	
	.left {
		
		.footer-copy {
			font-size: rem-calc(22);
			line-height: 1;
			
			@include breakpoint(medium) {
				padding-left: .18rem;
			}
			
		}
		
	}
	
	.right {
		line-height: 1.40;
		padding-bottom: 2em;
		
		@include breakpoint(medium) {
			text-align: right;
			padding-top: 0;
		}
		
		.footer-copy {
		    padding-bottom: 1.35em;
		}
					
		a {
			font-size: rem-calc(18);
			color: $text-white;
			
			@include breakpoint(medium) {
				font-size: rem-calc(22);
			}
			
		}
		
		.social-wrap {
			padding-top: 0.6em;
			display: flex;
			justify-content: flex-end;
			
			div {
				margin-left: 1em;
			}
			
		}

	}
	
	.source-org {
		padding-top: 1.9em;
		padding-bottom: 1.45em;
		line-height: 1.33;
	}
	
}