.home {
	
	.grid-container.fluid.offset-content {
		@include breakpoint(medium) { 
			margin-left: 8%;
		}
	}
	
	button:not(.third),
	a.button {
		min-width: 300px;
	}
	
	.banner {
		overflow: hidden;
		position: relative;
		padding-top: 11em;
		
		@include breakpoint(medium) {
			min-height: 781px;
			display: flex;
		    align-items: flex-end;
		    justify-content: flex-start;
		    width: 100%;
		}
		
		.bg {
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 8px;
		}

		.inner {
			margin: 0;
			position: relative;
			z-index: 1;
			height: 100%;
		    display: flex;
		    flex-direction: column;
		    justify-content: flex-end;
			
			.heading-wrap {
				width: 100%;
				max-width: 1530px;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 4.45em;
				
				h1,
				h2 {
					font-style: italic;
					max-width: 800px;
					color: $text-white;
				}
				
				h1 {
					font-family: $body-font-family;
					font-size: rem-calc(23);
					letter-spacing: 5.32px;
					
					@include breakpoint(medium) {
						font-size: rem-calc(38);
					}
					
				}
				
				h2 {
					font-size: rem-calc(62);
					
					@include breakpoint(medium) {
						font-size: rem-calc(92);
					}
					
				}
			
			}
			
		}
		
		.mask {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-image: linear-gradient(-90deg, #000000 0%, rgba(36,34,36,0.00) 100%);
		}
		
		.bh-drawer-nav {
			position: absolute;
			z-index: -1;
			right: 0;
			top: 0;
			bottom: 8px;	
			left: 100%;
			display: flex;
			flex-direction: column;
			
			@include breakpoint(medium) {
				z-index: 2;
			}
			
			.drawer {
				margin-top: -1px;
				flex: 1 1 33.3333%;
				display: flex;
				align-items: stretch;
				flex-wrap: nowrap;	
				transition: transform 1s ease;
				
				.tab {
					background-color: $black;
					padding: 2em 4.092em;
				    transform: rotate(180deg);
				    writing-mode: vertical-rl;
				    text-align: center;
				    border: $border
				}
				
				.content {
					background-color: $black;
					border: $border;
					padding: 2.8em;
					flex: 1 0 auto;
					
					.inner {
						display: flex;
						justify-content: center;
						
						h3 {
							font-size: rem-calc(32);
						}
						
					}
					
					a.arrow-link:not(:last-child) {
						margin-right: 3em;
					}
					
				}
				
			}
			
		}
		
		.drawer-nav-mobile {
			position: relative;
			z-index: 1;
			
			.accordion {
				background-color: $black;
				
				.accordion-item {
				
					.accordion-title {
						border-left: 0;
						border-right: 0;
						
						&:before {
							display: none;
						}
						
						&:hover,
						&:focus {
							background-color: $black;
						}
						
					}
	
					.accordion-content {
						border-top: 0;
						
						h3 {
							font-size: rem-calc(28);
							line-height: 1;
						}
						
						.links-wrap {
							padding-bottom: .4em;
							
							div {
								padding-bottom: .75em;
							}	
						}
						
					}
				
				}
				
			}
			
		}
		
	}
	
	
	.improvement {
		border-bottom: $border;
		position: relative;
		
		.grid-container.fluid.offset-content .inner-padding {
			@include breakpoint(medium) {
				padding-left: 3.35em;
			}
		}
		
		.bg-wrap {
			position: absolute;
			top: 0;
			left: 50%;
			right: -.9375rem;
			bottom: 0;
			
			@include breakpoint(medium) {
				right: -1.25rem;
			}
			
			.slick-list,
			.slick-track {
				height: 100%;
			}
			
			.bg {

				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				transition: opacity 0.3s ease;
				
			&.bg-1 {
				opacity: 0;
			}
				
			}
			
		}
		
		.inner-padding {
			position: relative;
			padding-top: 3em;
			padding-bottom: 1.65em;
			
			@include breakpoint(medium) {
				padding-top: 9.5em;
				padding-bottom: 5em;
			}
			
			.toggle-wrap {
				max-width: 660px;
			
				h2 {
					position: relative;
					z-index: 1;
					color: $primary-color;
					margin-bottom: 0.55em;
					
					@include breakpoint(medium) {
						margin-bottom: 0.86em;
					}
					
				}
				
				.toggle-content-wrap {
					position: relative;	
					z-index: 1;
					padding-top: 2.8em;
					
					@include breakpoint(medium) {
						padding-top: 6.55em;
						padding-bottom: 3.5em;
					}
					
					.line-wrap {
						position: absolute;
						opacity: 0;
						top: 14px;
						bottom: 25px;
						left: 10%;
						
						@include breakpoint(medium) {
							opacity: 1;
						}
						
						.circ {
							position: absolute;
							z-index: 1;
							width: 9px;
							height: 9px;
							border-radius: 100%;
							border: $border;
							background-color: $black;
						}	
						
						.line {
							position: absolute;
							width: 1px;
							top: 0;
							left: .25em;
							bottom: 0;
							height: 0%;
							background-color: $primary-color;
						}
						
					}
					
					.toggle-content {
						display: flex;
						flex-wrap: wrap;
						flex: 1 1 100%;
						margin-bottom: 1.5em;
						
						.icon-wrap {
							margin-bottom: 2.2em;
							
							@include breakpoint(medium) {
								flex: 1 0 98px;
								margin-right: 2em;
							}
							
						}
						
						h3 {
							margin-bottom: .42em;
							
							@media screen and (max-width: 640px) {
								br {
									display: none;
								}
							}
							
						}
						
						.text-wrap {
							font-size: rem-calc(18);
							color: $white;
							letter-spacing: 0;
							line-height: 1.277;
							
							a {
								white-space: nowrap;
							}
							
						}
						
					}
					
				}
				
				.toggle-nav-wrap {
					position: relative;	
					z-index: 1;
					display: flex;
					align-items: baseline;
					
					button {
						padding-top: 1em;
						padding-bottom: 1em;
						
					&:not(.active) {
						cursor: pointer;
					}
						
					}
					
					.third {
					
					&:not(:first-child) {
						margin-left: 7px;
						
						@include breakpoint(medium) {
							margin-left: 38px;
						}
						
					}
						
					&:not(:last-child) {
						margin-right: 7px;
						
						@include breakpoint(medium) {
							margin-right: 38px;
						}
						
					}
						
					&.and-third {
						font-style: italic;
					    font-size: rem-calc(23);
					    color: $white;
					    letter-spacing: 0;
					    line-height: 1;
					}
						
					}
					
					span {
						display: inline-block;
						border-bottom: $border;
						width: 32px;
						position: relative;
						top: -3px;
						
						@include breakpoint(medium) {
							width: 92px;
						}
						
					&.first {
					}
						
					}
					
				}
				
			}
		
		}
		
	}
	
	
	.home-tabs {
		
		.tabs {
			border-left: 0;
			border-right: 0;
			border-top: 0;
			border-bottom: 0;
			display: flex;
			
			li {
				float: none;
				flex: 1 0 auto;
				border-left: $border;
				border-right: $border;
				border-bottom: $border;
				
			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}
				
			&.is-active {
				border-bottom: 0;
			}
				 
				a {
					display: flex;
					justify-content: center;
					font-size: rem-calc(26);
					letter-spacing: 0;
					text-align: center;
					line-height: 1.07;
					padding-top: 1.45em;
					padding-bottom: 1.15em;
					
					span {
						writing-mode: vertical-rl;
					}
				}
			}
			
		}
		
		.tabs-content {
			border-left: 0;
			border-right: 0;
			padding-top: 2.3em;
			padding-bottom: 1.5em;
			
			h2 {
				margin-bottom: .65em;
			}
			
			p {
				margin-bottom: 2.3em;
			}
			
		}
		
	}
	
	
	.home-accordion {
		position: relative;
		padding-bottom: 8px;
		border-bottom: $border;
		
		.inner {
			width: 100%;
			height: 690px;
			display: flex;
		
			.accordion {
				width: 690px;
				transform: rotate(-90deg);
				
				.accordion-item {
				
					a.accordion-title {
						background-color: $black;
						padding: 1em 2.2em 1.25em 1em;
						border-left: 0 solid;
						border-right: 0 solid;
						border-bottom: 0 solid;
						font-family: $header-font-family;
						font-size: rem-calc(34);
						letter-spacing: 0;
						line-height: 1.088;
						
						&:hover,
						&:focus {
							background-color: black;
						}
						
						&:before {
							display: none;
						}
						
						span {
							display: block;
							transform: rotate(180deg);
						}
						
					}
					
					.accordion-content {
						background-color: black;
						border-left: 0 solid;
						border-right: 0 solid;
						border-bottom: 0 solid;
						border-top: 0 solid;
						
						.inner {
							padding-top: 3em;
							padding-bottom: 3em;
							transform: rotate(90deg);
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: center;
							
							p {
								font-size: rem-calc(22);
								letter-spacing: 0;
								line-height: 1;
							}
							
							.button {
								margin-top: 1.8em;
							}
							
						}
						
					}
					
				&:last-child>.accordion-content {
					border-bottom: 0px solid;
				}
					
				}
				
			}
		
		}
		
	}
	
	
	.alternating-rows {
		
		.single-row {
			position: relative;
			margin-top: 3.05em;
			padding-bottom: 2em;
			flex-direction: row-reverse;
			justify-content: flex-end;
			
			@include breakpoint(medium) {
				margin-top: 10.9em;
				padding-bottom: 8em;
			}
						
			.left {
				position: relative;
				z-index: 1;
				text-align: left;
				max-width: 750px;
				margin-bottom: 4em;
				
				@include breakpoint(medium) {
					margin-right: 8%;
					margin-bottom: 0;
				}
				
				h2 {
					color: $primary-color;
					margin-bottom: .67em;
					line-height: 1.08;
				}
				
				.inner {
					position: relative;
					padding: 1.4em 4em 0;
					
					@include breakpoint(medium) {
						padding: 2.6em 3.2em 0;
					}
					
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: .8em;
					width: 80%;
					border-bottom: $border;
					
					@include breakpoint(medium) {
						left: -1.6em;
					}
				}
		
				&:after {
					content: '';
					position: absolute;
					top: -1.6em;
					left: 2.4em;
					height: 33%;
					border-left: $border;
					
					@include breakpoint(medium) {
						left: 0;
					}
					
				}
				
				}
				
			}
			
			.right {
				padding-left: 0;
				height: 100%;
				display: flex;
			    justify-content: flex-end;
			    align-items: flex-end;
			    
			    @include breakpoint(medium) {
					position: absolute;
					top: 0;
					bottom: 0;
					padding-right: 0;
					left: auto;
					right: 0;
				}
				
			}
			
		&:nth-child(even) {
			padding-bottom: 0;
			flex-direction: row;
			justify-content: flex-end;
						
			.left {
				
				@include breakpoint(medium) {
					text-align: right;
					padding-bottom: 12em;
				}
			
				.inner {
					position: relative;
					
					padding: 1.4em 4em 0;
						
					@include breakpoint(medium) {
						padding: 2.6em 3.2em 0;
					}
					
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: -1.6em;
					width: 80%;
					border-bottom: $border;
					
					@include breakpoint(medium) {
						left: auto;
					}
					
				}
		
				&:after {
					content: '';
					position: absolute;
					top: -1.6em;
					right: 0;
					height: 33%;
					border-left: $border;
					
					@include breakpoint(medium) {
						left: auto;
					}
					
				}
				
					
				}
			
			}
						
			.right {
			    
			    @include breakpoint(medium) {
					left: -10%;				    
			    }
			    
			}
						
		}
		
		}
		
	}
	
	
}