.page-template-mentorship-page {
	
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center center;

		@include breakpoint(medium) {
			position: relative;
		}
		
		.mask {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(180deg, #000000 0%, rgba(36,34,36,0.00) 100%);
		}
		
	}
	
	.testimonials {
		border-bottom: $border;
		position: relative;
		
		.quotes {
			color: $primary-color;
			font-family: $header-font-family;
			font-size: rem-calc(192);
			line-height: 1;
			margin-bottom: -.56em;
			position: relative;
		}
		
		.inner-padding {
			margin-top: 3.475em;
			
			@include breakpoint(medium) {
				margin-top: 6.95em;
			}
			
		}
		
		.testimonial-slider {
				
			.single-testimonial {
		
				h3 {
					line-height: 1;
					margin-bottom: .95em;
				}
				
				.author {
					line-height: 1.4;
				}
		
			}
		
		}
		
		.slider-nav {
			position: relative;
			z-index: 1;
			padding-top: 2em;
			padding-bottom: 4.5em;	
			
			.buttons-wrap {
			
				@include breakpoint(medium) {
					text-align: right;
				}
			
				button {
					height: 2em;
					
					img {
						transition: transform 0.3s ease;
					}
					
				&:nth-child(2) {
					margin-left: 3.1em;
				}
				
				&:hover {
					cursor: pointer;
				}
				
				&.prev:hover {
					img {
						transform: translateX(-10px);
					}
				}

				&.next:hover {
					img {
						transform: translateX(10px);
					}
				}
				    
				}
			
			}
			
		}
		
	}
	
	.form {
		.inner-padding {
			padding-top: 6.9em;
			padding-bottom: 5.15em;
		}
		
		.left {
			margin-bottom: 1em;
			
			h2 {
				color: $primary-color;
			}
			
		}
		
	}
	
}