.page-template-sermons-page {
	
	.banner {
		padding-top: 6.3em;
		padding-bottom: 5.45em;
		
		.inner {
			flex-direction: column;
			
			@include breakpoint(medium) {
				flex-direction: row;
			}
			
		}
		
		h1 {
			max-width: 540px;
			margin-bottom: .75em;
			
			@include breakpoint(medium) {
				margin-left: -19%;
			}
			
		}
		
		.left {
			margin-bottom: 2rem;
			
			@include breakpoint(medium) {
				padding-left: 0;
				margin-bottom: 0;
			}
			
		}
		
		.right {
			
			.copy-wrap {
				
				.author-date {
					padding-bottom: 1.2em;
				}
				
				.description-wrap {
					padding-bottom: .6em;
					
					p {
						max-width: 540px;
						font-size: rem-calc(22);
						line-height: 1;	
					}
				}
			
			}
			
			.links-wrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				
				a {
					margin-bottom: 2rem;
				
				&.button {
					margin-right: 2em;
				}
				
				}
				
			}

		}
		
	}
	
	.sermons {
		
		.inner-padding {
			padding-top: 7.2em;
			
			.single-sermon-row {
				padding-bottom: 5.2em;
				
				h2 {
					margin-bottom: .34em;
				}
				
				h3.sub-heading {
					font-family: $body-font-family;
					font-size: rem-calc(22);
					color: $white;
					letter-spacing: 0;
					line-height: 1;
					margin-bottom: 3.09em;
				}
				
			&:last-child() {
				padding-bottom: 4.1em;
			}
				
				.box-wrap {
					
				}
				
			}
			
		}
		
	}
	
}